@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@700&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

h1 {text-align: center;
    position: absolute;
    top:50px;
}

body{
  background-image: linear-gradient(
    0deg,
    rgba(247, 247, 247, 1) 23.8%,
    rgba(252, 221, 221, 1) 92%
  );
	display: grid;
	place-items: center;
	min-height: 100vh;
}

.main{
    position: absolute;
    top:120px;
    overflow: hidden;
    max-height: 80vh;
    width: 90%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    background: #ffff;
    box-shadow: 0 20px 20px 0 rgba(252, 169, 169, 0.6);
}

/*top_section*/
.top_section{
  margin: 2em 0;
}
.top_section h5{
	color: #827b84;
	font-size: 1.5em;
  font-family: 'Charmonman', cursive;
}

/*tracks part 75vh 歌曲到box底部距离可改*/
.tracks{
  border-radius: 20px 20px 20px 20px;
  width: 90%;
  max-height: 75vh;
  overflow-y: scroll;
  padding: 0 0;
  padding-bottom: 50px;
}
.tracks::-webkit-scrollbar {
  display: none;
}
.tracks .song:not(:first-child){
  margin-top: 1em;
}
.tracks .song{
  background-color: rgb(252, 235, 235);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #252525;
  padding: 0 10px;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0.1px 2px 2px rgba(0,0,0,0.1);
}
.tracks .song .more{
  margin-left: 18px;
  width: 100%;
  display: flex;
  align-items: center;
  color:#252525;
  justify-content: space-between;
}
/*change the distance between song title and singer*/
.tracks .song .song_info p:nth-child(2){
  font-size: 12px;
  margin-top: 4px;
  color: #827b84;
}
.tracks .song  #play_btn{
  height: 50px;
  width: 50px;
  border:none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  background: none;
  color:  #827b84;
}
.tracks .song button i{
  font-size: 1.5em;
}
.tracks .song:not(:first-child){
			margin-top: 15px;
}

/*controlls part*/
.controlls{
		   width: 75%;
		   margin-top: 2.5em;
}
.progress_part{
			width: 100%;
			margin-bottom: 2em;
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: space-between;
}
.progress_part p{
  color: #fff;
}
.progress_part .durations{
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
} 
.progress_part #slider{
  width: 100%;
}

.controlls_btns{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.action-btn {
  border: 0;
  color: #ffff;
  cursor: pointer;
  padding: 20 px;
  margin: 0 20px;
  outline: none;
}

.controlls_btns button{
  height: 50px;   
  width: 50px;   
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 0.5em;
  background: none;
  transition: 0.5s;
  border-radius: 50%;
}

.controlls_btns button i{
  font-size: 1.3em;
}

.controlls_btns button i{
  color: #ffff;
}


/*range slider*/
#slider{
  -webkit-appearance: none;
  outline: none;
  width: 85%;
  height: 4px;
  cursor: pointer;
  position: relative;
  border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb{
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  background: rgba(252, 169, 169, 0.6);
  box-shadow: 0.1px 8px 8px 2px rgba(0,0,0,0.2) inset,
	            0.1px 8px 8px 2px rgba(0,0,0,0.2);
}


/*popup_music_player part #594444*/
.main .popup_music_player{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #635353;
  padding: 5px;
  z-index: 1000;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 15px 15px 0 0;
  transform: translateY(110%);
  transition: 0.4s;
  box-shadow: 0.1px 4px 8px 4px rgba(0,0,0,0.5);
}

/*top*/
.top{
  width: 100%;
  padding: 10px 20px;
  color: #ccc;
  font-size: 1.2em;
  display: flex;
  justify-content: space-between;
}
.top p{
  font-family: 'Charmonman', cursive;
}
.top i{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
background: rgba(255,255,255,0.1);
}
.popup_music_player .song_img{
margin-top: 2em;
height: 200px;
width: 200px;
border-radius: 50%;
overflow: hidden;
box-shadow: inset 5px 5px 5px rgba(0,0,0,0.2),
            inset -5px -5px 15px rgba(255,255,255,0.1),
			5px 5px 15px rgba(0,0,0,0.3),
			-5px -5px 15px rgba(255,255,255,0.1);
}
.song_description{
  margin-top: 0em;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}
.song_description h3{
  font-size: 1.2em;
  color: #fff;
}
.song_description p{
  color: #ccc;
  margin-top: 2px;
}
.emoji-container {
  background-color: #fff;
  width: 110px;
  border-radius: 15px;
  border:0.2rem solid;
  border-color:rgba(252, 169, 169, 0.6);
  box-shadow: 0 20px 20px 0 rgba(98, 77, 77, 0.6);;
  display: block;
  padding: 5px 5px;
  position: relative;
  margin: 20px 0;
  float:left;
  width:15%;
  height:150px;
}
.emoji-container h2{
  position:relative;
  text-align: center;
}

/*small music player*/
.small_music_player{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  border-radius: 20px 20px 0 0;
  background: #fe8daa;
  transition: 0.4s;
  transform: translateY(80px);
}
.s_player_img{
  position: relative;
  height: 50px;
  width: 50px;
  overflow: hidden;
  border-radius: 10px;
  margin-right: 2em;
}
.playing_img{
  height: 100%;
  width: 100%;
  opacity: 0.5;
}
.small_music_player p{
  color: #fff;
}

.s_player_img .playing_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#up_player{
  position: absolute;
  right: 20px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: rgba(255,255,255,0.1);	
}
#artist_name{
  font-size: 0.8em;
  margin-top: 5px;
  color: rgba(255,255,255,0.5);
}


/*wave animation*/
.wave_animation{
  height: 40px;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: flex-end;
  opacity: 0;
}
.wave_animation li{
  list-style: none;
  width: 5px;
  margin: 0 3px;
  border-radius: 15px;
  background: rgba(255,255,255,0.4);
  animation: animate 0.5s linear alternate infinite;
			
}
.wave_animation li:nth-child(2){
  animation-delay: 0.4s;
}
.wave_animation li:nth-child(3){
  animation-delay: 1s;
}
.wave_animation li:nth-child(4){
  animation-delay: 0.4s;
}
.wave_animation li:nth-child(5){
  animation-delay: 1s;
}


/*animation*/
@keyframes animate {
  0%{
    height: 0px;
  }
  100%{
	height: 20px;
  }
}

/*Dev Ideas*/
